<% provide(:title, "Top") %>
<div class="center jumbotron">
<%= image_tag('fit_recipes2.jpg', alt: '食事管理', class: 'img-responsive', width: "100%") %>
  <h1 class="title">💚フィットレシピ💚</h1>
  <p>⭐️食事管理アプリ⭐️</p>
  <%= link_to "ログイン", signup_path, class: "btn btn-lg btn-primary" %>
</div>


